{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock  %}
{% block title %}{% endblock  %}
{% block body %}
<div class="container col-lg-5 mt-3 pb-3 border border-#999 fcolor">
	<h1 class="h2 mt-3 mb-3 fcolor" align="center" style="color:green;">Search</h1>
	<form method="post" action="{% url 'Alluser' %}">
	{% csrf_token %}
	<div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Name</label>
        <input name="username" type="text" placeholder="Enter Your Username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Please Search</div>
    </div>
		<button type="submit" class="btn btn-success w-100">Update</button>
	</form>
</div>
{% endblock  %}