.Dashbord{
	width:30%;
	height: 100vh;
	display:inline-block;
	float: left;
}
.mul_meal{
	width:30%;
	height: 100vh;
	display:inline-block;
	float: right;
}
.profile_Pic{
	width: 200px;
	height: 200px;
	border-radius:50%;
	margin:0 auto;
	display: block;
	border: green 5px solid;
}
.notice{
	width:100%;
	height: 40px;
	color:#fff;
	line-height:40px;
	background:green;
	direction: left;
}
.menu{
	background-color: #066706 !important;
	color:#fff !important;
}
.dashtable{
	display: block;
	margin:0 auto;
	width: 400px;
	text-align: center;
}
.todaymeal{
	width:38%;
	height: 100vh;
	display:inline-block;
}
.confirminput{
	display:none;
}
@media only screen and (max-width:768px){
	.Dashbord{
		width:100%;
		height: auto;
	}
	.dashtable{
		width: auto;
		display: block;
		margin:0 auto;
		text-align: center;
	}
	.mul_meal{
		width:100%;
		height:auto;
		display: block;
		margin: 0 auto;
	}
	.todaymeal{
		width:100%;
		height: auto;
	}
}